*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(207, 218, 247);
    font-family: Arial, Helvetica, sans-serif;
}

#spilldiv {
  background-color: rgb(174, 241, 154);
  margin: 20px;
  height: 600px;
}

.overskrift {
  color:  rgb(23, 66, 23);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 2px;
  font-weight: bold;
}

.overskrift p {
  font-size: 30px;
}

.resultat {
  padding: 5px;
}

.maal {
  display: flex;
  justify-content: flex-start;
  margin-left: 33px;
  color:  rgba(23, 66, 23, 0.89);
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
}

/* lager linjene mine ved hjelp av to diver til hver linje, altså #border1 og .linje1 utgjør første linjen i spillet*/
#border1 {
  padding-left: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 100%;
  margin-left: 50px;
}

.linje1 {
  height: 90px;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border2 {
  padding-bottom: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  margin-right: 50px;
  margin-left: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.linje2 {
  width: 550px auto;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border3 {
  padding-right: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 50px;
}

.linje3 {
  height: 40px;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border4 {
  padding-bottom: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.linje4 {
  width: 550px auto;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border5 {
  padding-left: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  float: left;
  margin-left: 50px;
}

.linje5 {
  height: 110px;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border6 {
  padding-bottom: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 110px;
  box-sizing: border-box;
  cursor: pointer;
}

.linje6 {
  width: 550px auto;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border7 {
  padding-left: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: 50px;
}

.linje7 {
  height: 65px;
  background:rgb(174, 241, 154);
  cursor: default;
}

#border8 {
  padding-bottom: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  margin-right: -5px;
  width: 360px;
  margin-top: 65px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  float: right;
}

.linje8 {
  background:rgb(174, 241, 154);
  cursor: default;
}

#border9 {
  padding-right: 5px;
  background-color: rgba(23, 66, 23, 0.89);
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  float: right;
  margin-right: -5px;
  margin-top: 70px;
  height: 30px;
}

.linje9 {
  background:rgb(174, 241, 154);
  cursor: default;
}

.start {
  color: rgba(23, 66, 23, 0.89);
  font-size: 20px;
  padding: 5px;
  margin-top: 100px;
  letter-spacing: 2px;
  position: relative;
  float: right;
  margin-right: -35px;
  font-weight: bold;
}

/* spill-igjen knappen */
#tilbakestillingKnapp {
  position: relative;
  float: right;
  margin-right: -75px;
  margin-top: 130px;
}

#tilbakestill {
  background-color:rgba(23, 66, 23, 0.89);
  color: white;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid black;
  }

/* menybaren herifra og ned */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(174, 241, 154);
  
  }
  
  .logo h5 {
  color: rgb(23, 66, 23);
  letter-spacing: 4px;
  font-size: 30px;
  text-decoration:none;
  }
  
  .logo a {
    text-decoration: none;
  }
  
  .andre_sider {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  
  .andre_sider li {
  list-style: none;
  }
  
  .andre_sider a {
  color: rgb(23, 66, 23);
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 20px;
  }
  
  .burger {
    display: none;
  }
  
  .burger div{
  width: 24px;
  height: 2px;
  background-color: rgb(23, 66, 23);
  margin: 5px;
  }
  
  @media screen and (max-width:1024px){
    .andre_sider {
      width: 70%;
    }
  }
  
  @media screen and (max-width:768px){
    body {
      overflow-x: hidden;
    }
    .andre_sider {
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 8vh;
      background-color: rgb(174, 241, 154);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.6s ease-in;
    }
   
    .burger {
      display: block;
      cursor: pointer;
    }
  }
  
  .nav-active {
    transform:translateX(0%);
  }
  
  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0px);
    }
  }